* {
    font-family: 'Lato', sans-serif;
    color: white;
}

.main {
    background: #091c3e;
    height: 100vh;
}

.title {
    color: white;
    text-align: center;
}

.ligue1-button {
    background: #CDFB0A;
    color: #091c3e;
    font-weight: bold;
    font-size: 18px;
}

.ligue1-button:hover {
    background: transparent;
    border: #CDFB0A solid 1px;
    color: #CDFB0A;
}

.ligue1-button-outline {
    border: #CDFB0A solid 1px;
    color: #CDFB0A;
}

.ligue1-button-outline:hover {
    background: #CDFB0A;
    color: #091c3e;
}

datalist {
    background: red;
}

.specific-search {
    margin: auto 2vw;
}

.home-container {
    margin: 6vh auto;
}


/* ---------------------------- */
/*      CLUB AND PLAYER PAGE    */
/* ---------------------------- */

#page-club, #page-player {
    background: #091c3e;
}

.header-page {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-page .header-title {
    padding: 10px 50px;
    background: white;
    transform: skew(-30deg,0deg);
    height: 100px;
    text-align: center;
    min-width: 360px;
    position: relative;
    left: 15px;
    display: flex;
    align-items: center;
}

.header-page .header-title h1 {
    transform: skew(30deg,0deg);
    font-size: 40px;
    font-weight: 900;
    color: #091c3e;
    margin: 0;
    text-transform: uppercase;
}

.header-page img {
    height: 100px;
    margin-left: 100px;
}

#page-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-element {
    width: 80vw;
    margin: 60px auto;
    display: flex;
}

.page-element .element-name {
    display: inline-block;
    padding: 10px 50px;
    background: #CDFB0A;
    transform: skew(-30deg,0deg);
    height: 50px;
    text-align: center;
    min-width: 360px;
    position: relative;
    left: 15px;
}

.page-element .element-name p {
    transform: skew(30deg,0deg);
    font-size: 18px;
    font-weight: 900;
    color: #091c3e;
    margin: 0;
    text-transform: uppercase;
}


.page-element .element-content {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 25px;
    padding: 10px 50px;
    background: #091c3e;
    transform: skew(-30deg,0deg);
    border: white solid 1px;
    height: 50px;
}

.page-element .element-content p {
    transform: skew(30deg,0deg);
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0;
}

#description-element {
    display: block;
    margin-bottom: 0;
}

#description {
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    text-align: justify;
}

.page-element .img-content {
    background-image: url("../../resources/img/stade/Intérieur_POL.jpg");
    background-size: cover;
    width: 500px;
    height: 300px;
    position: relative;
    left: -80px;
    margin-top: 10px;
    border: none;
}

.page-element .content-with-img {
    display: inline-block;
}

.page-element .many-content {
    position: relative;
    left: 25px;
    top: 30px;
    display: block;
    transform: skew(-30deg,0deg);
}

.page-element .many-content .element-content {
    left: 0;
    top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: skew(0deg,0deg);
}

.page-element .team-score {
    border: none;
    background: white;
}

.page-element .team-score p, .page-element .score p {
    color: #091c3e;
    text-transform: uppercase;
    font-weight: 900;
}

.page-element .score {
    border: none;
    background: #CDFB0A;
    padding: 10px 20px;
}

#players-element {
    display: block;
}

#players-element {
    display: block;
}

#players-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.page-element .player {
    height: 200px;
    border-radius: 2px;
}

.page-element .player-name {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-element .player-name p {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0 5px;
}

.page-element .player-link {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.page-element .player-link button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.page-element .player:hover {
    background: #0f2752;
}

/* ---------------------------- */
/*          SEARCH PAGE         */
/* ---------------------------- */

#search_page_container {
    color: white;
}

#results_container {
    display: none;
    font-weight: bold;
}

div.team_container {
    background-color: #CDFB0A;
    color: black;
    border-radius: 5px;
}
