* {
    font-family: 'Lato', sans-serif;
    color: white;
}

.main {
    background: #091c3e;
    min-height: 100vh;
}

.title {
    color: white;
    text-align: center;
}

.ligue1-button {
    background: #CDFB0A;
    color: #091c3e;
    font-weight: bold;
    font-size: 18px;
}

.ligue1-button:hover {
    background: transparent;
    border: #CDFB0A solid 1px;
    color: #CDFB0A;
}

.ligue1-button-outline {
    border: #CDFB0A solid 1px;
    color: #CDFB0A;
}

.ligue1-button-outline:hover {
    background: #CDFB0A;
    color: #091c3e;
}

datalist {
    background: red;
}

.specific-search {
    margin: auto 2vw;
}

.home-container {
    margin: 6vh auto;
}

.go-home {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* ---------------------------- */
/*      CLUB AND PLAYER PAGE    */
/* ---------------------------- */

.page-infos {
    background: #091c3e;
    padding-bottom: 50px;
}

.header-page {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-page .header-title {
    padding: 10px 50px;
    background: white;
    transform: skew(-30deg,0deg);
    height: 100px;
    width: max-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-page .header-title h1 {
    transform: skew(30deg,0deg);
    font-size: 35px;
    font-weight: 900;
    color: #091c3e;
    margin: 0;
    text-transform: uppercase;
}

.header-page img {
    height: 100px;
    margin-left: 100px;
}

#page-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-element {
    width: 80vw;
    margin: 60px auto;
    display: flex;
}

.page-element .element-name {
    display: inline-block;
    padding: 10px 50px;
    background: #CDFB0A;
    transform: skew(-30deg,0deg);
    height: 50px;
    text-align: center;
    width: 360px;
    position: relative;
    left: 15px;
}

.page-element .element-name p {
    transform: skew(30deg,0deg);
    font-size: 18px;
    font-weight: 900;
    color: #091c3e;
    margin: 0;
    text-transform: uppercase;
}


.page-element .element-content {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 25px;
    padding: 10px 50px;
    background: #091c3e;
    transform: skew(-30deg,0deg);
    border: white solid 1px;
    height: 50px;
}

.page-element .element-content p {
    transform: skew(30deg,0deg);
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0;
}

#description-element {
    display: block;
    margin-bottom: 0;
}

#description {
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    text-align: justify;
}

.page-element .img-content {
    background-image: url("../../resources/img/stade/Intérieur_POL.jpg");
    background-size: cover;
    width: 500px;
    height: 300px;
    position: relative;
    left: -80px;
    margin-top: 10px;
    border: none;
}

.page-element .content-with-img {
    display: inline-block;
}

.page-element .many-content {
    position: relative;
    left: 25px;
    top: 30px;
    display: block;
    transform: skew(-30deg,0deg);
}

.page-element .many-content .element-content {
    left: 0;
    top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: skew(0deg,0deg);
}

.page-element .team-score {
    border: none;
    background: white;
}

.page-element .team-score p, .page-element .score p {
    color: #091c3e;
    text-transform: uppercase;
    font-weight: 900;
}

.page-element .score {
    border: none;
    background: #CDFB0A;
    padding: 10px 20px;
}

#players-element {
    display: block;
}

#players-element {
    display: block;
}

#players-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.page-element .player {
    height: 200px;
    border-radius: 2px;
}

.page-element .player-name {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-element .player-name p {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0 5px;
}

.page-element .player-link {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.page-element .player-link button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.page-element .player:hover {
    background: #0f2752;
}

/* ---------------------------- */
/*        COMPARISON PAGE      */
/* ---------------------------- */

.header-comparaison {
    width: calc(50% - (360px/2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-comparaison .header-title {
    height: auto;
    min-height: 70px;
    text-align: center;
    background: #CDFB0A;
    border-bottom: solid 8px white;
}

.header-comparaison .header-title h1 {
    font-size: 30px;
}

.comparaison-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comparaison-element .compare-element-container {
    width: 360px;
}

.comparaison-element .value-container {
    width: calc(50% - (360px/2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparaison-element .element-content, .comparaison-element .element-name, .comparaison-element .many-content {
    top: 0;
    left: 0;
}

.comparaison-element .score-value-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comparaison-element .score-value-container .many-content {
    transform: skew(0deg,0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comparaison-element .score-value-container .many-content .element-content {
    transform: skew(-30deg,0deg);
    height: auto;
    min-height: 50px;
    text-align: center;
}

/* ---------------------------- */
/*    SEASON INFORMATION PAGE   */
/* ---------------------------- */

#information-page-title {
    background: #CDFB0A;
    height: 80px;
    border-bottom: solid white 8px;
}

#information-page-title h1 {
    font-size: 30px;
}

#navbar-information {
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

#navbar-information button {
    margin: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
}

#table-rank {
    margin: auto;
    margin-top: 80px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-rank .club-rank {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

#table-rank .number-rank {
    background: #CDFB0A;
    color: #091c3e;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: inherit;
    width: 50px;
}

#table-rank .club-name-rank {
    text-transform: uppercase;
    font-size: 20px;
    background: white;
    color: #091c3e;
    border-radius: 2px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

#qualified-europe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qualified-europe .element-name {
    width: 400px;
    margin-top: 80px;
}

#qualified-europe .element-name:first-child {
    margin-top: 10px;
}

#qualified-europe .qualified-clubs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qualified-europe .qualified-clubs .element-content {
    background: white;
    border: none;
    text-transform: uppercase;
    top: 0;
    left: 0;
    margin: 30px;
    height: auto;
    min-height: 50px;
    text-align: center;
}

#qualified-europe .qualified-clubs .element-content p {
    color: #091c3e;
    font-weight: 900;
}

#statistics  {
    margin-top: 80px;
}

#statistics .page-element {
    margin-bottom: 100px;
}

#statistics .element-name {
    min-height: 60px;
    height: auto;
    max-height: 75px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------- */
/*          SEARCH PAGE         */
/* ---------------------------- */

#search_page_container {
    color: white;
}

#results_container {
    display: none;
    font-weight: bold;
}

div.ticket {
    border: 4px solid #CDFB0A;
    border-radius: 10px;
    transition: all 0.3s ease;
}

div.ticket.disabled {
    border-color: grey;
}

div.ticket:hover {
    background-color: #CDFB0A;
}

div.ticket.disabled:hover {
    background-color: grey;
}

div.ticket > a, div.ticket > p {
    font-size: 1.4em;
    margin: 0;
}

div.ticket > a {
    color: #CDFB0A;
    display: inline-block;
    text-decoration: none;
}

div.ticket:hover > a {
    color: black;
}